# Python caches and artifacts
__pycache__/
*.py[cod]
*.so
*.dylib
*.pyd

# Slurm log files
slurm_logs/

# notebook junk
notebooks/.DS_Store
notebooks/.ipynb_checkpoints/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# Environments
.venv/
venv/
env/
ENV/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Editors / tooling
.mypy_cache/
.pyre/
.pytype/
.ipynb_checkpoints/
.idea/
.vscode/
*.swp

# MkDocs site output
site/
docs/site/

# data
data/

# macOS
.DS_Store

# Logs
*.log

# raw microstate data
data/microstates/

# bibliography
bibliography/
